TFXSLT_project/wsdl/MathServiceNoPolicy.wsdl

<wsdl:definitions xmlns:axis2="http://webservices3.axway.com" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ns_MathServiceNoPolicy="http://service.arno.com/MathServiceNoPolicy" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="MathServiceNoPolicy" targetNamespace="http://webservices3.axway.com">
	<wsdl:types>
		<xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.arno.com/MathServiceNoPolicy">
			<xs:element name="add">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="a" type="xs:int"/>
						<xs:element minOccurs="0" name="b" type="xs:int"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="addResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" type="xs:int"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="addResponse">
		<wsdl:part name="parameters" element="ns_MathServiceNoPolicy:addResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="addRequest">
		<wsdl:part name="parameters" element="ns_MathServiceNoPolicy:add"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="MathServiceNoPolicyPortType">
		<wsdl:operation name="add">
			<wsdl:input message="axis2:addRequest" wsaw:Action="urn:add"></wsdl:input>
			<wsdl:output message="axis2:addResponse" wsaw:Action="urn:addResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MathServiceNoPolicySoap11Binding" type="axis2:MathServiceNoPolicyPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="add">
			<soap:operation soapAction="urn:add" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MathServiceNoPolicy">
		<wsdl:port name="MathServiceNoPolicyHttpSoap11Endpoint" binding="axis2:MathServiceNoPolicySoap11Binding">
			<soap:address location="http://10.133.58.173:5080/webservices/services/MathServiceNoPolicy/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>